*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rodape{
    height: 40px;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

@media ( max-width: 450px){
    .rodape{
        height: 30px;
        width: 100%;
        font-size: 6px;
        justify-content: center;
    }
}