*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: #000;
    height: 800px;
    width: 100%;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: center;
    background-image: url('../../assets/nova1.PNG');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    ;
    

}
.main h1{
    display: flex;
    font-size: 55px;
    color: #000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 30px;
} 
.main h2{
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f4f11d;
    margin-bottom: 20px;
}

.main button{
    background-color: #000;
    color: #fff;
    padding: 15px 30px 15px 30px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 100px;
}
.main button:hover{
    background-color: #ffc800;
    color: #000;
    transition: 0.5s;
}   
.main button:active{
    background-color: #ff0;
    color: #000;
    transition: 0.5s;
}
.main a{
    text-decoration: none;
    border: 0;
    font-size: 30px;
}


@media ( max-width: 450px){

    .main{
        height: 600px;
        background-image: url('../../assets/nova1.PNG');
        background-size: cover;
        background-position: center;    
        background-repeat: no-repeat;
    }
    .main h1{
        font-size: 30px;
        margin: 10px;
        color: #fff;
    }
    .main h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .main button{
        padding: 10px 20px 10px 20px;
        font-size: 15px;
    }
}
   
   
