*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu1{
    background-color: #000;
    margin: 0;
    margin-top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    position:relative;
}
header {
    display: flex;
    margin: 20px;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    z-index: 10;
}

ul{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    padding: 0;
}
li{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    margin:  20px 10px 20px 5px;
    padding: 0;
    font-size: 18px;
   
}
a{      
    text-decoration: none;
    color: #ffffff;
    margin:  20px 15px 20px 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px  solid #ffffff;
    border-radius: 10px;
    cursor: pointer;

    
}
.contato{
    text-decoration: none;
    margin-right: 30px;
    margin-left: 0px;
    padding: 10px;

}
 

   
a:hover{
    color: #be9c17;
    transition: 0.5s; 

}
  
a:active{
    color: #be9c17;
    transition: 0.5s;
}
.icon{
    border:0;
}

.insta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-right: 110px;
    margin-left: 5px;
    color: #fff;
    border: 0;
    
}
.insta{
    cursor: pointer;
}
.insta :hover{
    color: #be9c17;
    transition: 0.5s;
}
.insta:active{
    color: #be9c17;
    transition: 0.5s;
}

header img{
    height: 80px;
    width: 80px;
    display: block;
    justify-content: flex-start;
    margin: 0; 
    margin-right: 800px;
   
}
.borda {
    border: none;
}

@media ( max-width: 450px){
   .menu1{
    background-color: #000
   }
   .menu1{
     width: 100%;
   }
   header {
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    z-index: 1000;
}
    a{      
    text-decoration: none;
    color: #fff;
    margin:  2px 2px 2px 2px;
    padding: 10px;
    font-size: 12px;
    }
    li{
    margin:  1px 2px 2px 1px;
    font-size: 12px;
    }
    ul{
    margin-right: 1px;
    padding: 10px;
    }
    .contato{
    margin-right: 5px;
    font-size: 12px;
    margin-left: 0;
    margin-right: 10px;
    padding: 10px;
    }
    .insta{
    height: 40px;
    width: 40px;
    margin-left: 0;
    margin-right: 20px;
    
    

    }
    header img{
    height: 50px;
    width: 50px;
    display: block;
    justify-content: flex-start;
    margin-left: 10px; 
    margin-right: 0;
    


   
   
   
}
};
    
